.App {
  padding: 220px;
}
.dis {
  width: 320px;
  height: 75px;
  background: rgb(80, 179, 206);
  text-align: right;
  font-family: Share Tech Mono, monospace;
}
#display {
  background: #ffffffb3;
  text-align: right;
}
.total {
  padding-right: 5px;
  font-size: 35px;
}
button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
}
button:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}
#clear {
  width: 160px;
  background: rgb(255, 83, 120);
}
#zero {
  width: 160px;
}
